#testimonials {
  padding: 40px 20px;
  background: var(--color-primary-1);
  text-align: center;
}

.avatar-usuario {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.avaliacao {
  display: grid;
  margin-bottom: 15px;
}

.avaliacoes-container {
  max-width: 600px;
  margin: auto;
}

.avaliacoes-container h2 {
  font-size: 2rem;
  color: var(--color-primary-6);
}

.stars span {
  font-size: 24px;
  cursor: pointer;
  color: #ccc;
}

.stars span.selected,
.stars span.hovered {
  color: gold;
}

.starsAv {
  font-size: 1.3rem;
  color: rgb(227, 195, 11);
}


textarea {
  width: 100%;
  height: 80px;
  margin: 10px 0;
  padding: 8px;
  resize: none;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  background-color: var(--color-primary-6);
  color: #fff;
  border: none;
  border-radius: 6px;
}

button:hover {
  transition: transform 0.5s ease;
  background-color: var(--color-primary-5);
  transform: scale(1.1);
}

#avaliacoes-lista .avaliacao {
  background: white;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  text-align: left;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  max-height: 80%;
  overflow-y: auto;
  max-width: 600px;
  width: 90%;
  border-radius: 10px;
  position: relative;
}

#fecharModal {
  color: var(--color-primary-6);
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
  font-size: 2.5rem;
}

#fecharModal:hover {
  color: var(--color-primary-5);
}

.hidden {
  display: none !important;
}

@keyframes fadeInTop {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
